.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  overflow: auto;
}

.game-image {
  display: block;
  position: absolute;
}

.game-image--clickable {
  cursor: pointer;
  width: 70px;
}

.game-image--tile {
  width: 45px;
}

.game-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.user-stats {
  position: absolute;
  right: 20px;
  top: 10px;
}

.user-stats p {
  margin: 0.6rem;
}
