.btn.btn-answer {
  padding: 30px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  color: black;
}

.btn.btn-answer:hover,
.btn.btn-answer:active,
.btn.btn-answer:focus {
  background-color: #749303;
}

.btn.btn-answer:disabled {
  background-color: rgb(172, 169, 169);
  border: 1px solid rgb(172, 169, 169);
  color: white;
  text-decoration: line-through;
}
